section.form-part#additionalProperties
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Additional Properties
  .largeScreen
    .from-external-only
      .form-header-main
        h2 More information
        .nav
          button.bordered-blue.medium.left.prevSkip
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.nextSkip
            | Next
            i.fa-solid.fa-angles-right
      .form-header-sub
        h3 Additional Properties
        .nav
          button.bordered-blue.xsmall.left.prev
            i.fa-solid.fa-angles-left
            | Prev
    .from-internal-only
      .form-header-main
        h2 Additional Properties
        .nav
          button.bordered-blue.medium.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.next
            | Next
            i.fa-solid.fa-angles-right
  .form-partial-content
    fieldset
      legend.sr-only Provide additional properties - information about byte sequences and developer
      .part
        h3 Byte Sequences
        .part

          //- Byte Order
          .form-row(th:classappend="${compare?.byteOrder} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(ff?.byteOrder) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(for="byteOrder") Select file format byte order
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.4.1.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button.current Accept current
              select(id="byteOrder", th:field="*{byteOrder}", multiple="multiple", size="5")
                option(th:value="null") None/Unknown
                option(th:each="bo : ${byteOrderOptions}", th:value="${bo.URI}", th:text="${bo.label}") option 1
            .input-group(th:if="${compare?.byteOrder}")
              button.incoming Accept incoming
              select(id="byteOrder" th:if="${compare?.byteOrder}", th:value="${compare?.byteOrder}", multiple="multiple", size="5")
                option(th:value="null") None/Unknown
                option(th:each="bo : ${byteOrderOptions}", th:value="${bo.URI}", th:text="${bo.label}") option 1

          //- Compression Type
          .form-row(th:classappend="${compare?.compressionTypes} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(ff?.compressionTypes) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(for="compressionTypes") Compression Type
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.4.1.2') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button.current Accept current
              select(id="compressionTypes", th:field="*{compressionTypes}", multiple="multiple", size="5")
                option(th:value="null") None/Unknown
                option(th:each="ct : ${compressionTypeOptions}", th:value="${ct.URI}", th:text="${ct.label}") option 1
            .input-group(th:if="${compare?.compressionTypes}")
              button.incoming Accept incoming
              select(th:if="${compare?.compressionTypes}", multiple="multiple", size="5")
                option(th:value="null") None/Unknown
                option(th:each="ct : ${compressionTypeOptions}", th:value="${ct.URI}", th:text="${ct.label}") option 1

        h4.border Stakeholders and specification
        .part
          div
            .add-actor.development
              fieldset(th:each="dev, stat : *{developmentActors}", th:with="compareSize=${#lists.size(compare?.developmentActors ?: {})}, compareDev=${compareSize > stat.index} ? ${compare.developmentActors.get(__${stat.index}__)} : null")
                //- Developer
                .form-row(th:classappend="${compareDev?.uri} ? 'before-review' : ''")
                  p.inputType(th:text="${#strings.isEmpty(dev?.uri) ? 'New content' : 'Edited content'}") New content
                  .tooltipPlusAction
                    .tooltip-container
                      .label
                        label(th:for="${'developmentActors' + stat.index}") Developer
                        span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.4.2.1') tabindex='0')
                          .i-wrapper
                            i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                    .action-monitoring
                      .review-type
                        i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                        p Require reviewing
                      .review-type
                        i.fa-solid.fa-square-check
                        p Reviewed
                  .input-group
                    button Accept current
                    input(type="hidden", th:id="${'developmentActors' + stat.index}", th:field="*{developmentActors[__${stat.index}__].uri}")
                    input.label(th:id="${'developmentActorsName' + stat.index}", th:field="*{developmentActors[__${stat.index}__].name}", th:data-undo="${dev?.name}")
                  .input-group(th:if="${compareDev?.uri}")
                    button.incoming Accept incoming
                    input(type="hidden", th:id="${'developmentActors' + stat.index}", th:value="${compareDev?.uri}")
                    input(th:id="${'developmentActors' + stat.index}", th:value="${compareDev?.name}")
                p.from-internal-only or
                button.black.small.from-internal-only.add-actor-button.noJS
                  | Add institutional actor

          div
            .from-internal-only
              .add-actor.support
                fieldset(th:each="sup, stat : *{supportActors}", th:with="compareSize=${#lists.size(compare?.supportActors ?: {})}, compareSup=${compareSize > stat.index} ? ${compare.supportActors.get(__${stat.index}__)} : null")
                  //- Support
                  .form-row(th:classappend="${compareSup?.uri} ? 'before-review' : ''")
                    p.inputType(th:text="${#strings.isEmpty(sup?.uri) ? 'New content' : 'Edited content'}") New content
                    .tooltipPlusAction
                      .tooltip-container
                        .label
                          label(th:for="${'supportActors' + stat.index}") Support
                          span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.4.2.1') tabindex='0')
                            .i-wrapper
                              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                      .action-monitoring
                        .review-type
                          i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                          p Require reviewing
                        .review-type
                          i.fa-solid.fa-square-check
                          p Reviewed
                    .input-group
                  button Accept current
                  input(type="hidden", th:id="${'supportActors' + stat.index}", th:field="*{supportActors[__${stat.index}__].uri}")
                  input.label(th:id="${'supportActorsName' + stat.index}", th:field="*{supportActors[__${stat.index}__].name}", th:data-undo="${sup?.name}")
                .input-group(th:if="${compareSup?.uri}")
                  button.incoming Accept incoming
                  input(type="hidden", th:id="${'supportActors' + stat.index}", th:value="${compareSup?.uri}")
                  input(th:id="${'supportActors' + stat.index}", th:value="${compareSup?.name}")
                  p.from-internal-only or
                  button.black.small.from-internal-only.add-actor-button.noJS
                    | Add institutional actor

        //-         //- Format IPR
        //-         .form-row(th:classappend="${compare?.formatIPR} ? 'before-review' : ''")
        //-           p.inputType(th:text="${#strings.isEmpty(ff?.formatIPR) ? 'New content' : 'Edited content'}") New content
        //-           .tooltipPlusAction
        //-             .tooltip-container
        //-               .label
        //-                 label(for="formatIPR") Format IPR
        //-                 span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.2.3') tabindex='0')
        //-                   .i-wrapper
        //-                     i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        //-             .action-monitoring
        //-               .review-type
        //-                 i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
        //-                 p Require reviewing
        //-               .review-type
        //-                 i.fa-solid.fa-square-check
        //-                 p Reviewed
        //-           .input-group
        //-             button Accept current
        //-             input(name="formatIPR" id="formatIPR" th:field="*{formatIPR}", th:data-undo="${ff?.formatIPR}")
        //-           .input-group(th:if="${compare?.formatIPR}")
        //-             button.incoming Accept incoming
        //-             input(th:value="${compare.formatIPR}" name="formatIPR" id="formatIPR")

        //-         //- Document
        //-         .form-row(th:classappend="${compare?.document} ? 'before-review' : ''")
        //-           p.inputType(th:text="${#strings.isEmpty(ff?.document) ? 'New content' : 'Edited content'}") New content
        //-           .tooltipPlusAction
        //-             .tooltip-container
        //-               .label
        //-                 label(for="document") Document
        //-                 span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.2.4') tabindex='0')
        //-                   .i-wrapper
        //-                     i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        //-             .action-monitoring
        //-               .review-type
        //-                 i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
        //-                 p Require reviewing
        //-               .review-type
        //-                 i.fa-solid.fa-square-check
        //-                 p Reviewed
        //-           .input-group
        //-             button Accept current
        //-             input(name="document" id="document" th:field="*{document}", th:data-undo="${ff?.document}")
        //-           .input-group(th:if="${compare?.document}")
        //-             button.incoming Accept incoming
        //-             input(th:value="${compare.document}" name="document" id="document")

        //-         //- Release date
        //-         .form-row(th:classappend="${compare?.releaseDate} ? 'before-review' : ''")
        //-           p.inputType(th:text="${#strings.isEmpty(ff?.releaseDate) ? 'New content' : 'Edited content'}") New content
        //-           .tooltipPlusAction
        //-             .tooltip-container
        //-               .label
        //-                 label(for="releaseDate") Release date
        //-                 span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.2.5') tabindex='0')
        //-                   .i-wrapper
        //-                     i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        //-             .action-monitoring
        //-               .review-type
        //-                 i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
        //-                 p Require reviewing
        //-               .review-type
        //-                 i.fa-solid.fa-square-check
        //-                 p Reviewed
        //-           .input-group
        //-             button Accept current
        //-             input.date(name="releaseDate" id="releaseDate" th:field="*{releaseDate}", th:data-undo="${ff?.releaseDate}" type="date")
        //-           .input-group(th:if="${compare?.releaseDate}")
        //-             button.incoming Accept incoming
        //-             input.date(th:value="${compare.releaseDate}" type="date" name="releaseDate" id="releaseDate")
        //- .from-internal-only
        //-   h4.border Technical enviroment 
        //-   .part

        //-     //- Technical enviroment
        //-     .form-row(th:classappend="${compare?.technicalEnviroment} ? 'before-review' : ''")
        //-       p.inputType(th:text="${#strings.isEmpty(ff?.technicalEnviroment) ? 'New content' : 'Edited content'}") New content
        //-       .tooltipPlusAction
        //-         .tooltip-container
        //-           .label
        //-             label(for="technicalEnviroment") Technical enviroment 
        //-             span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.3.1') tabindex='0')
        //-               .i-wrapper
        //-                 i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
        //-         .action-monitoring
        //-           .review-type
        //-             i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
        //-             p Require reviewing
        //-           .review-type
        //-             i.fa-solid.fa-square-check
        //-             p Reviewed
        //-       .input-group
        //-         button Accept current
        //-         input(name="technicalEnviroment" id="technicalEnviroment" th:field="*{technicalEnviroment}", th:data-undo="${ff?.technicalEnviroment}")
        //-       .input-group(th:if="${compare?.technicalEnviroment}")
        //-         button.incoming Accept incoming
        //-         input(th:value="${compare.technicalEnviroment}" name="technicalEnviroment" id="technicalEnviroment")