- var formAction = 'add'

section.form-part#core
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Core
  .largeScreen
    .form-header-main
      h2 Core
      .nav
        button.bordered-blue.medium.right.next Next
          i.fa-solid.fa-angles-right
  .form-partial-content
    
    //- TODO make sure to display only if editing file format (var formAction = 'edit')
    if(formAction === 'edit')
      .part(th:if="${edit}")
        include ./searchPUID.pug  
    h3 Main
    .part
      fieldset
        //- TODO - read INFO : 
        //- 1) each .form-row has unique id with dashes (inside is input with same name and id just cammel case)
        //- 2) if element is to be reviewed add class '.before-review' or 'after-review'

        //- File format name
        .form-row#file-format-name(th:classappend="${compare?.name} ? 'before-review' : ''")
          p.inputType(th:text="${#strings.isEmpty(ff?.name) ? 'New content' : 'Edited content'}") New content
          .tooltipPlusAction
            .tooltip-container
              .label
                label(for="FileFormatName") File format name (required)
                span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.1.1') tabindex='0')
                  .i-wrapper
                    i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
            .action-monitoring
              .review-type
                i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                p Require reviewing
              .review-type
                i.fa-solid.fa-square-check
                p Reviewed
          .input-group
            button Accept current
            input(name="Name" id="FileFormatName" th:field="*{name}", th:data-undo="${ff?.name}")
          .input-group(th:if="${compare?.name}")
            button.incoming Accept incoming
            input(th:value="${compare.name}" name="Name" id="FileFormatName" )

        //- File format version
        .form-row#version(th:classappend="${compare?.version} ? 'before-review' : ''")
          p.inputType(th:text="${#strings.isEmpty(ff?.version) ? 'New content' : 'Edited content'}") Edited content
          .tooltipPlusAction
            .tooltip-container
              .label
                label(for="version") Version
                span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '3.2.3.2') tabindex='0')
                  .i-wrapper
                    i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
            .action-monitoring
              .review-type
                i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                p Require reviewing
              .review-type
                i.fa-solid.fa-square-check
                p Reviewed
          .input-group
            button.current Accept current
            input.medium-short(name="version" id="version", th:field="*{version}", th:data-undo="${ff?.version}")
          .input-group(th:if="${compare?.version}")
            button.incoming Accept incoming
            input.medium-short(th:value="${compare.version}" name="version" id="version")

        //- File format description
        .form-row#file-format-description(th:classappend="${compare?.description} ? 'before-review' : ''")
          p.inputType(th:text="${#strings.isEmpty(ff?.description) ? 'New content' : 'Edited content'}") Edited content
          .tooltipPlusAction
            .tooltip-container
              .label
                label(for="description") File format description
                span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.1.3') tabindex='0')
                  .i-wrapper
                    i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
            .action-monitoring
              .review-type
                i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                p Require reviewing
              .review-type
                i.fa-solid.fa-square-check
                p Reviewed
          .input-group
            button.current Accept current
            textarea.medium-short(name="description" id="description" cols="30" rows="10", th:field="*{description}", th:data-undo="${ff?.description}")
          .input-group(th:if="${compare?.description}")
            button.incoming Accept incoming
            textarea.medium-short(th:value="${compare.description}" cols="30" rows="10" name="description" id="description")

        //- Format type
        .form-row#format-type(th:classappend="${compare?.formatType} ? 'before-review' : ''")
          p.inputType(th:text="${#strings.isEmpty(ff?.formatType) ? 'New content' : 'Edited content'}") Edited content
          .tooltipPlusAction
            fieldset
              legend.sr-only Select format type
              div
                .tooltip-container
                  .label
                    label.from-external-only(for="formatType") Format type
                    label.from-internal-only(for="formatType") Format type (required)
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.1.4') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
            .action-monitoring
              .review-type
                i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                p Require reviewing
              .review-type
                i.fa-solid.fa-square-check
                p Reviewed
          .input-group
            button.current Accept current
            select(id="formatType", name="formatType" th:field="*{formatType}")
              option(th:each="fio : ${formatIdentifierOptions}", th:value="${fio.value}", th:text="${fio.label}") option 1
          .input-group
            button.incoming Accept incoming
            select(th:if="${compare?.formatType}" id="formatType" name="formatType")
              option(th:each="fio : ${formatIdentifierOptions}", th:value="${compare.formatType}", th:text="${fio.label}") option 1
        .from-internal-only
          include ./priority-over.pug

    h3.border References
    //- .part
      fieldset.references
        .row-group.inline.reference-group

          //- Reference Name
          .form-row#reference-name(th:classappend="${compare?.referenceName} ? 'before-review' : ''")
            p.inputType(text="${#strings.isEmpty(ff?.referenceName) ? 'New content' : 'Edited content'}") Edited content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(for="referenceName") Reference Name
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button Accept current
              input(name="referenceName" id="referenceName" th:field="*{referenceName}", th:data-undo="${ff?.referenceName}")
            .input-group(th:if="${compare?.referenceName}")
              button.incoming Accept incoming
              input(th:value="${compare.referenceName}" name="referenceName" id="referenceName")
            
          //- Link URL
          .form-row#reference-link-url(th:classappend="${compare?.referenceLinkURL} ? 'before-review' : ''")
            p.inputType(text="${#strings.isEmpty(ff?.referenceLinkURL) ? 'New content' : 'Edited content'}") Edited content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(for="referenceLinkURL") Link URL
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.2') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button Accept current
              input(name="referenceLinkURL" id="referenceLinkURL" th:field="*{referenceLinkURL}", th:data-undo="${ff?.referenceLinkURL}")
            .input-group(th:if="${compare?.referenceLinkURL}")
              button.incoming Accept incoming
              input(th:value="${compare.referenceLinkURL}" name="referenceLinkURL" id="referenceLinkURL")

          //- Documentation
          .form-row#reference-documentation.checkbox-container(th:classappend="${compare?.referenceDocumentation} ? 'before-review' : ''")
            p.inputType(text="${#strings.isEmpty(ff?.referenceDocumentation) ? 'New content' : 'Edited content'}") Edited content
            .input-group
              button Accept current
              input(name="referenceDocumentation" id="referenceDocumentation" type="checkbox" th:field="*{referenceDocumentation}", th:data-undo="${ff?.referenceDocumentation}")
            .input-group(th:if="${compare?.referenceDocumentation}")
              button.incoming Accept incoming
              input(th:value="${compare.referenceDocumentation}" type="checkbox" name="referenceDocumentation" id="referenceDocumentation")
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(for="referenceDocumentation") Documentation
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.3') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
              
          .additional-fields
            //- Author
            .form-row#reference-author(th:classappend="${compare?.referenceAuthor} ? 'before-review' : ''")
              p.inputType(text="${#strings.isEmpty(ff?.referenceAuthor) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(for="referenceAuthor") Author
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.4') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button Accept current
                input(name="referenceAuthor" id="referenceAuthor" th:field="*{referenceAuthor}", th:data-undo="${ff?.referenceAuthor}")
              .input-group(th:if="${compare?.referenceAuthor}")
                button.incoming Accept incoming
                input(th:value="${compare.referenceAuthor}" name="referenceAuthor" id="referenceAuthor")

            //- Identifiers
            .form-row#reference-identifiers(th:classappend="${compare?.referenceIdentifiers} ? 'before-review' : ''")
              p.inputType(text="${#strings.isEmpty(ff?.referenceIdentifiers) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(for="referenceIdentifiers") Identifiers
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.5') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button Accept current
                input(name="referenceIdentifiers" id="referenceIdentifiers" th:field="*{referenceIdentifiers}", th:data-undo="${ff?.referenceIdentifiers}")
              .input-group(th:if="${compare?.referenceIdentifiers}")
                button.incoming Accept incoming
                input(th:value="${compare.referenceIdentifiers}" name="referenceIdentifiers" id="referenceIdentifiers")

            //- Publication date
            .form-row#publication-date(th:classappend="${compare?.publicationDate} ? 'before-review' : ''")
              p.inputType(text="${#strings.isEmpty(ff?.publicationDate) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(for="publicationDate") Publication date
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.6') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button Accept current
                input.date(type="date" name="publicationDate" id="publicationDate" th:field="*{publicationDate}", th:data-undo="${ff?.publicationDate}")
              .input-group(th:if="${compare?.publicationDate}")
                button.incoming Accept incoming
                input.date(type="date" th:value="${compare.publicationDate}" name="publicationDate" id="publicationDate")

            //- Publication Type
            .form-row#publication-type(th:classappend="${compare?.publicationType} ? 'before-review' : ''")
              p.inputType(text="${#strings.isEmpty(ff?.publicationType) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(for="publicationType") Type
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.7') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button Accept current
                input( name="publicationType" id="publicationType" th:field="*{publicationType}", th:data-undo="${ff?.publicationType}")
              .input-group(th:if="${compare?.publicationType}")
                button.incoming Accept incoming
                input(th:value="${compare.publicationType}" name="publicationType" id="publicationType")

            //- Publication Note
            .form-row#publication-note(th:classappend="${compare?.publicationNote} ? 'before-review' : ''")
              p.inputType(text="${#strings.isEmpty(ff?.publicationNote) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(for="publicationNote") Note
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '1.2.8') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button Accept current
                input(name="publicationNote" id="publicationNote" th:field="*{publicationNote}", th:data-undo="${ff?.publicationNote}")
              .input-group(th:if="${compare?.publicationNote}")
                button.incoming Accept incoming
                input(th:value="${compare.publicationNote}" name="publicationNote" id="publicationNote")
          .button-container
            button.bordered-red.small.push-right.delete-reference
              | Delete reference
      .button-container
        button.black.medium.push-right#add-reference
          | Add reference
          
          
    


