section.form-part#identifiers
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Identifiers
  .largeScreen
    .from-external-only
      .form-header-main
        h2 More information
        .nav
          button.bordered-blue.medium.left.prevSkip
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.nextSkip
            | Next
            i.fa-solid.fa-angles-right
      .form-header-sub
        h3 Identifiers
        .nav
          button.bordered-blue.xsmall.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.xsmall.right.next
            | Next
            i.fa-solid.fa-angles-right
    .from-internal-only
      .form-header-main
        h2 Identifiers
        .nav
          button.bordered-blue.medium.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.next
            | Next
            i.fa-solid.fa-angles-right
  .form-partial-content
    .part
      fieldset(th:each="i, stat : *{identifiers}")
        legend.sr-only Provide identifiers and aliases
        #identifiers-list.row-group
          .identifier

            //- Identifier type
            .form-row#identifier-type(th:classappend="${compare?.identifiers?.get(__${stat.index}__)?.type} ? 'before-review' : ''")
              p.inputType(th:text="${#strings.isEmpty(ff?.identifiers?.get(__${stat.index}__)?.type) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(th:for="${'identifierType' + stat.index}") Identifier type
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.2.1') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button.current Accept current
                select(th:id="${'identifierType' + stat.index}", th:field="*{identifiers[__${stat.index}__]?.type}")
                  option(th:each="fio : ${formatIdentifierOptions}", th:value="${fio.value}", th:text="${fio.label}") option 1
              .input-group
                button.incoming Accept incoming
                select(th:id="${'identifierType' + stat.index}", th:if="${compare?.identifiers?.get(__${stat.index}__)?.type}")
                  option(th:each="fio : ${formatIdentifierOptions}", th:value="${fio.value}", th:text="${fio.label}") option 1

            //- Identifier
            .form-row#identifier-container(th:classappend="${compare?.identifiers?.get(__${stat.index}__)?.name} ? 'before-review' : ''")
              p.inputType(th:text="${#strings.isEmpty(ff?.identifiers?.get(__${stat.index}__)?.name) ? 'New content' : 'Edited content'}") Edited content
              .tooltipPlusAction
                .tooltip-container
                  .label
                    label(th:for="${'identifier' + stat.index}") Identifier
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.2.2') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .action-monitoring
                  .review-type
                    i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                    p Require reviewing
                  .review-type
                    i.fa-solid.fa-square-check
                    p Reviewed
              .input-group
                button Accept current
                input(th:id="${'identifier' + stat.index}", th:field="*{identifiers[__${stat.index}__].name}", th:data-undo="${ff?.identifiers?.get(__${stat.index}__)?.name}")
              .input-group(th:if="${compare?.identifiers?.get(__${stat.index}__)?.name}")
                button.incoming Accept incoming
                input(th:id="${'identifier' + stat.index}", th:value="${compare.identifiers?.get(__${stat.index}__)?.name}")
            .button-container
              button.bordered-red.small.delete-identifier
                | Delete identifier
        .button-container
          button.black.small.push-right.add-identifier
            | Add identifier

      fieldset(th:each="a, stat : *{aliases}")
        h3.border
          | Aliases
        .part
          #aliases-list.row-group
            .alias

              //- Alias Name
              .form-row(th:classappend="${compare?.aliases?.get(__${stat.index}__)?.name} ? 'before-review' : ''")
                p.inputType(th:text="${#strings.isEmpty(ff?.aliases?.get(__${stat.index}__)?.name) ? 'New content' : 'Edited content'}") Edited content
                .tooltipPlusAction
                  .tooltip-container
                    .label
                      label(th:for="${'aliasName' + stat.index}") Name
                      span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.2.3.1') tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
                .input-group
                  button Accept current
                  input(th:id="${'aliasName' + stat.index}", th:field="*{aliases[__${stat.index}__].name}", th:data-undo="${ff?.aliases?.get(__${stat.index}__)?.name}")
                .input-group(th:if="${compare?.aliases?.get(__${stat.index}__)?.name}")
                  button.incoming Accept incoming
                  input(th:id="${'aliasName' + stat.index}", th:value="${compare.aliases?.get(__${stat.index}__)?.name}")

              //- Alias Version
              .form-row(th:classappend="${compare?.aliases?.get(__${stat.index}__)?.version} ? 'before-review' : ''")
                p.inputType(th:text="${#strings.isEmpty(ff?.aliases?.get(__${stat.index}__)?.version) ? 'New content' : 'Edited content'}") Edited content
                .tooltipPlusAction
                  .tooltip-container
                    .label
                      label(th:for="${'aliasVersion' + stat.index}") Version
                      span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.2.3.2') tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
                .input-group
                  button Accept current
                  input(th:id="${'aliasVersion' + stat.index}", th:field="*{aliases[__${stat.index}__].version}", th:data-undo="${ff?.aliases?.get(__${stat.index}__)?.version}")
                .input-group(th:if="${compare?.aliases?.get(__${stat.index}__)?.version}")
                  button.incoming Accept incoming
                  input(th:id="${'aliasVersion' + stat.index}", th:value="${compare.aliases?.get(__${stat.index}__)?.version}")

              .button-container
                button.bordered-red.small.delete-alias
                  | Delete alias
          .button-container
            button.black.small.push-right.add-alias
              | Add alias