fieldset(th:each="p, stat : *{hasPriorityOver}")
  legend.sr-only For the current file format, specify others over which it has priority over
  .row-group
    #priority-inner
      p Priority over
      .priority-list
        .priority-group
          .form-row#priority-file-format(th:classappend="${compare?.hasPriorityOver?.get(__${stat.index}__)?.target} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(p?.target) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(th:for="${'HasRelationship' + stat.index}") File format
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.1.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button Accept current
              input(th:id="${'HasRelationship' + stat.index}", th:field="*{hasPriorityOver[__${stat.index}__].target}", th:data-undo="${ff?.hasPriorityOver?.get(__${stat.index}__)?.target}")
            .input-group(th:if="${compare?.hasPriorityOver?.get(__${stat.index}__)?.target}")
              button.incoming Accept incoming
              input(th:id="${'HasRelationship' + stat.index}", th:value="${compare.hasPriorityOver?.get(__${stat.index}__).target}")
          button.bordered-red.small.delete-priority-over
            | Delete field
      .button-container
        button.black.small.push-right.add-priority-over
          | Add field