section.form-part#relationships
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Relationships
  .largeScreen
    .from-external-only
      .form-header-main
        h2 More information
        .nav
          button.bordered-blue.medium.left.prevSkip
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.nextSkip
            | Next
            i.fa-solid.fa-angles-right
      .form-header-sub
        h3 Relationships
        .nav
          button.bordered-blue.xsmall.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.xsmall.right.next
            | Next
            i.fa-solid.fa-angles-right
    .from-internal-only
      .form-header-main
        h2 Relationships
        .nav
          button.bordered-blue.medium.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.next
            | Next
            i.fa-solid.fa-angles-right
  .form-partial-content
    fieldset.relationships
      legend.sr-only Provide relationships and format families
      #relationships-list.row-group
        .relationship(th:each="rel, stat : *{hasRelationships}")
          input(type="hidden", th:field="*{hasRelationships[__${stat.index}__].uri}")

          //- Choose relationship type
          .form-row.rel-type(th:classappend="${compare?.hasRelationships?.get(__${stat.index}__)?.target} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(rel?.relationshipType) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(th:for="${'relationshipType' + stat.index}") Choose relationship type
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.3.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button.current Accept current
              select(th:id="${'relationshipType' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].relationshipType}")
                option(th:each="rto : ${relationshipTypeOptions}", th:value="${rto.value}", th:text="${rto.label}") option 1
            .input-group(th:if="${compare?.hasRelationships?.get(__${stat.index}__)?.relationshipType}")
              button.incoming Accept incoming
              select(th:id="${'relationshipType' + stat.index}")
                option(th:each="rto : ${relationshipTypeOptions}", th:value="${compare?.hasRelationships?.get(__${stat.index}__)?.relationshipType}", th:text="${rto.label}") option 1

          //- Related file format
          .form-row.rel-ff(th:classappend="${compare?.hasRelationships?.get(__${stat.index}__)?.target} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(ff?.hasRelationships?.get(__${stat.index}__)?.target) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(th:for="${'target' + stat.index}") Related file format
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.3.2') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button Accept current
              input(type="hidden", th:id="${'sourceUri' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].source}", th:value="${ff?.Uri}")
              input.value(type="hidden", th:id="${'targetUri' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].target}", th:data-undo="${ff?.hasRelationships?.get(__${stat.index}__)?.target}")
              input.label(th:id="${'hasRelationshipsName' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].targetName}", th:data-undo="${ff?.hasRelationships?.get(__${stat.index}__)?.targetName}")
            .input-group(th:if="${compare?.hasRelationships?.get(__${stat.index}__)?.target}")
              button.incoming Accept incoming
              input(type="hidden", th:id="${'targetUri' + stat.index}", th:value="${compare.hasRelationships?.get(__${stat.index}__)?.target}")
              input(th:id="${'hasRelationshipsName' + stat.index}", th:value="${compare.hasRelationships?.get(__${stat.index}__)?.targetName}")
          .button-container
            button.bordered-red.small.delete-relationship
              | Delete relationship
      .button-container
        button.black.small.push-right.add-relationship
          | Add relationship

    //- Format families
    fieldset.format-families(th:each="fam, stat : *{formatFamilies}", ,th:with="compareSize=${#lists.size(compare?.formatFamilies ?: {})}, compareFam=${compareSize > stat.index} ? ${compare.formatFamilies.get(__${stat.index}__)} : null")
      input(type="hidden", th:field="*{formatFamilies[__${stat.index}__].uri}")
      .form-row(th:classappend="${compareFam?.uri} ? 'before-review' : ''")
        p.inputType(th:text="${#strings.isEmpty(fam?.uri) ? 'New content' : 'Edited content'}") New content
        .tooltipPlusAction
          .tooltip-container
            .label
              label(th:for="${'formatFamilies' + stat.index}") Format families
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.3.3') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          .action-monitoring
            .review-type
              i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
              p Require reviewing
            .review-type
              i.fa-solid.fa-square-check
              p Reviewed
        .input-group
          button.current Accept current
          select(th:id="${'formatFamilies' + stat.index}", th:field="*{formatFamilies[__${stat.index}__].uri}")
            option(th:value="null") None
            option(th:each="ffo : ${formatFamilyOptions}", th:value="${ffo.value}", th:text="${ffo.label}") option 1
        .input-group(th:if="${compareFam?.uri}")
          button.incoming Accept incoming
          select(th:id="${'formatFamilies' + stat.index}")
            option(th:value="null") None
            option(th:each="ffo : ${formatFamilyOptions}", th:value="${compareFam.uri}", th:text="${ffo.label}") option 1