section.form-part#relationships
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Relationships
  .largeScreen
    .from-external-only
      .form-header-main
        h2 More information
        .nav
          button.bordered-blue.medium.left.prevSkip
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.nextSkip
            | Next
            i.fa-solid.fa-angles-right
      .form-header-sub
        h3 Relationships
        .nav
          button.bordered-blue.xsmall.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.xsmall.right.next
            | Next
            i.fa-solid.fa-angles-right
    .from-internal-only
      .form-header-main
        h2 Relationships
        .nav
          button.bordered-blue.medium.left.prev
            i.fa-solid.fa-angles-left
            | Prev
          button.bordered-blue.medium.right.next
            | Next
            i.fa-solid.fa-angles-right
  .form-partial-content
    fieldset.relationships
      legend.sr-only Provide relationships and format families
      #relationships-list.row-group
        .relationship(th:each="rel, stat : *{hasRelationships}")
          input(type="hidden", th:field="*{hasRelationships[__${stat.index}__].uri}")

          //- Choose relationship type
          .form-row.rel-type(th:classappend="${compare?.hasRelationships?.get(__${stat.index}__)?.target != ff?.target} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(rel?.relationshipType) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(th:for="${'relationshipType' + stat.index}") Choose relationship type
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.3.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button.current Accept current
              select(th:id="${'relationshipType' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].relationshipType}")
                option(th:each="rto : ${relationshipTypeNoPriorityOptions}", th:value="${rto.URI}", th:text="${rto.label}") option 1
            .input-group(th:if="${compare?.hasRelationships?.get(__${stat.index}__)?.relationshipType != ff?.relationshipType}")
              button.incoming Accept incoming
              select(th:id="${'relationshipType' + stat.index}")
                option(th:each="rto : ${relationshipTypeNoPriorityOptions}", th:value="${compare?.hasRelationships?.get(__${stat.index}__)?.relationshipType}", th:text="${rto.label}") option 1

          //- Related file format
          .form-row.rel-ff(th:classappend="${compare?.hasRelationships?.get(__${stat.index}__)?.target != ff?.target} ? 'before-review' : ''")
            p.inputType(th:text="${#strings.isEmpty(ff?.hasRelationships?.get(__${stat.index}__)?.target) ? 'New content' : 'Edited content'}") New content
            .tooltipPlusAction
              .tooltip-container
                .label
                  label(th:for="${'target' + stat.index}") Related file format
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.3.2') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              .action-monitoring
                .review-type
                  i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                  p Require reviewing
                .review-type
                  i.fa-solid.fa-square-check
                  p Reviewed
            .input-group
              button.current Accept current
              input(type="hidden", th:id="${'sourceUri' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].source}", th:value="${ff?.Uri}")
              input.value(type="hidden", th:id="${'targetUri' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].target}", th:data-undo="${ff?.hasRelationships?.get(__${stat.index}__)?.target}")
              input.label(th:id="${'hasRelationshipsName' + stat.index}", th:field="*{hasRelationships[__${stat.index}__].targetName}", th:data-undo="${ff?.hasRelationships?.get(__${stat.index}__)?.targetName}")
            .input-group(th:if="${compare?.hasRelationships?.get(__${stat.index}__)?.target != ff?.target}")
              button.incoming Accept incoming
              input(type="hidden", th:id="${'targetUri' + stat.index}", th:value="${compare.hasRelationships?.get(__${stat.index}__)?.target != ff?.target}")
              input(th:id="${'hasRelationshipsName' + stat.index}", th:value="${compare.hasRelationships?.get(__${stat.index}__)?.targetName}")
          .button-container
            button.bordered-red.small.delete-relationship
              | Delete relationship
      .button-container
        button.black.small.push-right.add-relationship
          | Add relationship

    //- Format families
    fieldset.format-families
      input(type="hidden", th:field="*{formatFamilies}")
      .form-row(th:classappend="${compare?.formatFamilies != ff?.formatFamilies} ? 'before-review' : ''")
        p.inputType(th:text="${#lists.isEmpty(ff?.formatFamilies) ? 'New content' : 'Edited content'}") New content
        .tooltipPlusAction
          .tooltip-container
            .label
              label(for="formatFamilies") Format families
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.3.3') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          .action-monitoring
            .review-type
              i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
              p Require reviewing
            .review-type
              i.fa-solid.fa-square-check
              p Reviewed
        .input-group
          button.current Accept current
          select(id="formatFamilies", th:field="*{formatFamilies}", multiple="multiple", size="5")
            option(th:value="null") None
            option(th:each="ffo : ${formatFamilyOptions}", th:value="${ffo.URI}", th:text="${ffo.label}") option 1
        .input-group(th:if="${compare?.formatFamilies != ff?.formatFamilies}")
          button.incoming Accept incoming
          select(id="formatFamilies", th:value="${compare.formatFamilies}", multiple="multiple", size="5")
            option(th:value="null") None
            option(th:each="ffo : ${formatFamilyOptions}", th:value="${ffo.URI}", th:text="${ffo.label}") option 1