section.form-part#signatures
  .smallScreen
    button.accordion
      i.fa-solid.fa-chevron-down
      h2 Signatures
  .largeScreen
    .form-header-main
      h2 Signatures
      .nav
        button.bordered-blue.medium.left.prev
          i.fa-solid.fa-angles-left
          | Prev
        button.bordered-blue.medium.right.next
          | Next
          i.fa-solid.fa-angles-right
  .form-partial-content
      //- signature select
      .part
        fieldset
          legend.sr-only Select signature type you wish to add
          #signature-controls
            #select-signature
              div
                .tooltip-container
                  .label
                    label(for="Documentation") Select signature type
                    span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                div
                  select(id="select-signature-type")
                    option(value='signature') Signature
                    option(value='container-signature') Container Signature
              .button-container
                button.black.small#add-signature
                  | Add signature
            .collapse-buttons
              button.bordered-blue.small.open-all-signatures
                | Open all
                i.fa-solid.fa-chevron-down
              button.bordered-blue.small.collapse-all-signatures
                | Collapse all
                i.fa-solid.fa-chevron-up
        //- Signature 
        #signature-container
          .holder
            //- path
            .row-group-inner1.path
              .button-container 
                button.bordered-red.small.push-right.delete-path
                  | Delete path
              .form-row(th:classappend="${compare?.path} ? 'before-review' : ''")
                p.inputType(th:text="${#strings.isEmpty(ff?.path) ? 'New content' : 'Edited content'}") New content
                .tooltip-container
                  .label
                    label.from-external-only(for="path") Path
                    label.from-internal-only(for="path") Path (required)
                    span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.7') tabindex='0')
                      .i-wrapper
                        i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                .input-group
                  button Accept current
                  input(name="path" id="path" th:field="*{path}", th:data-undo="${ff?.path}")
                .input-group(th:if="${compare?.path}")
                  button.incoming Accept incoming
                  input.medium-short(th:value="${compare.path}")
              .byte-sequence-list
                .list
                .button-container
                  button.black.small.add-byte-sequence.push-right
                    | Add byte sequence
            //- byte sequence
            .row-group-inner2.byte-sequence
              .info
                h6 Byte sequence
                button.bordered-red.small.delete-byte-sequence
                  | Delete byte sequence

              .form-row#binary-value(th:classappend="${compare?.binaryValue} ? 'before-review' : ''")
                p.inputType(th:text="${#strings.isEmpty(ff?.binaryValue) ? 'New content' : 'Edited content'}") Edited content
                .tooltipPlusAction
                  .tooltip-container
                    .label
                      label.from-external-only(for="binaryValue") Binary value
                      label.from-internal-only(for="binaryValue") Binary value (required)
                      span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.3') tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
                .input-group
                  button Accept current
                  input(name="binaryValue" id="binaryValue")

              .form-row#position-type(th:classappend="${compare?.positionType} ? 'before-review' : ''")
                p.inputType(th:text="${#strings.isEmpty(ff?.positionType) ? 'New content' : 'Edited content'}") Edited content
                .tooltipPlusAction
                  .tooltip-container
                    .label
                      label.from-external-only(for="positionType") Position type
                      label.from-internal-only(for="positionType") Position type (required)
                      span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.4') tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
                .input-group
                  button.current Accept current
                  select(id="positionType" name="positionType" , th:field="*{positionType}", th:data-undo="${ff?.positionType}")
                    option(value='0') option1
                    option(value='1') option2
                  input.medium-short(name="positionType" id="positionType", th:field="*{positionType}", th:data-undo="${ff?.positionType}")
                .input-group(th:if="${compare?.positionType}")
                  button.incoming Accept incoming
                  select(th:value="${compare.positionType}")
                    option(value='0') option1
                    option(value='1') option2

              .form-row#min-offset(th:classappend="${compare?.minOffset} ? 'before-review' : ''")
                p.inputType(th:text="${#strings.isEmpty(ff?.minOffset) ? 'New content' : 'Edited content'}") Edited content
                .tooltipPlusAction
                  .tooltip-container
                    .label
                      label.from-external-only(for="minOffset") Min offset
                      label.from-internal-only(for="minOffset") Min offset (required)
                      span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.5') tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
                .input-group
                  button Accept current
                  input.short(name="minOffset" id="minOffset")
              .form-row#max-offset
                p.inputType Edited content
                .tooltipPlusAction
                  .tooltip-container
                    .label
                      label.from-external-only(for="MaxOffset") Max offset
                      label.from-internal-only(for="MaxOffset") Max offset (required)
                      span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.6') tabindex='0')
                        .i-wrapper
                          i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  .action-monitoring
                    .review-type
                      i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                      p Require reviewing
                    .review-type
                      i.fa-solid.fa-square-check
                      p Reviewed
                .input-group
                  button Accept current
                  input.short(name="MaxOffset" id="MaxOffset")
            //- signature
            fieldset.signature.collapse-content-container
              legend.sr-only Fill up information about signature
              .row-group
                .top
                  button.accordion
                    .info
                      p Type: Signature
                      p PUID: (some PUID if any)
                    i.fa-solid.fa-chevron-up
                  button.bordered-red.small.delete-signature
                    | Delete signature
                .collapse-content
                  .form-row
                    .tooltip-container
                      .label
                        label.from-external-only(for="SignatureName") Signature name
                        label.from-internal-only(for="SignatureName") Signature name (required)
                        span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.3.1') tabindex='0')
                          .i-wrapper
                            i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                    input(name="SignatureName" id="SignatureName")
                  //- TODO confirm if GF is no longer required
                  //- .form-row.checkbox-container
                    input(name="Documentation" id="Documentation" type="checkbox")
                    .tooltip-container
                      .label
                        label(for="Documentation") Generic Flag
                        span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                          .i-wrapper
                            i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  h5 Byte Sequences
                  .part
                    .form-row
                      .tooltip-container
                        .label
                          label.from-external-only(for="endianess") Select endianess
                          label.from-internal-only(for="endianess") Select endianess (required)
                          span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.1') tabindex='0')
                            .i-wrapper
                              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                      select(id="endianess")
                        option(value='0') option1
                        option(value='1') option2
                    .form-row#signature-description
                      p.inputType Edited content
                      .tooltipPlusAction
                        .tooltip-container
                          .label
                            label.from-external-only(for="SignatureDescription") Description
                            label.from-internal-only(for="SignatureDescription") Description (required)
                            span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.2') tabindex='0')
                              .i-wrapper
                                i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                        .action-monitoring
                          .review-type
                            i.fa-solid.fa-triangle-exclamation(aria-hidden="true")
                            p Require reviewing
                          .review-type
                            i.fa-solid.fa-square-check
                            p Reviewed
                      .input-group
                        button Accept current
                        textarea(cols="30", rows="6" name="SignatureDescription" id="SignatureDescription")
                    //- byte sequence
                    .byte-sequence-list
                      .list
                      .button-container
                        button.black.small.add-byte-sequence.push-right
                          | Add byte sequence
            //- container-signature
            fieldset.container-signature.collapse-content-container
              legend.sr-only Fill up information about signature
              .row-group
                .top
                  button.accordion
                    .info
                      p Type: Container Signature
                      p PUID: (some PUID if any)
                    i.fa-solid.fa-chevron-up
                  button.bordered-red.small.delete-container-signature
                    | Delete container signature
                .collapse-content
                  .form-row
                    .tooltip-container
                      .label
                        label.from-external-only(for="SignatureName") Signature name
                        label.from-internal-only(for="SignatureName") Signature name (required)
                        span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.3.1') tabindex='0')
                          .i-wrapper
                            i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                    input(name="SignatureName" id="SignatureName")
                  //- .form-row.checkbox-container
                    input(name="GenericFlag" id="GenericFlag" type="checkbox")
                    .tooltip-container
                      .label
                        label(for="GenericFlag") Generic Flag
                        span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                          .i-wrapper
                            i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                  h5.border Byte Sequences
                  .part
                    fieldset
                      legend.sr-only Select endianess
                      div
                        .tooltip-container
                          .label
                            label.from-external-only(for="endianess") Select endianess
                            label.from-internal-only(for="endianess") Select endianess (required)
                            span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.1') tabindex='0')
                              .i-wrapper
                                i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                        select(id="endianess")
                          option(value='0') option1
                          option(value='1') option2
                    .form-row
                      .tooltip-container
                        .label
                            label.from-external-only(for="SignatureDescription") Description
                            label.from-internal-only(for="SignatureDescription") Description (required)
                            span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('external', '2.4.2') tabindex='0')
                              .i-wrapper
                                i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
                      textarea(cols="30", rows="6" name="FileFormatDescription" id="FileFormatDescription")
                    h5.border Container signature
                    .paths-list-container
                      .paths-list
                      .button-container
                        button.black.small.push-right.add-path
                          | Add path
                

          
          
              
    


