extends /layouts/internalLayout.pug

block vars
  - var currentUrl = "/content-manager"
  - var breadcrumbs = {'Home':"/", "Content Manager": "/content-manager"}

block pageTitle
  h1.internal-title(th:utext="${@templateUtils.md('content-manager_accessibility-title')}") Edit website content

block content
  .unique-page-content#content-manager
    .tab-buttons
      button(th:each="tab : ${contentMap}", th:unless="${#maps.isEmpty(contentMap.get(tab.key))}", th:text="${@templateUtils.humaniseRegion(tab.key)}", th:classappend="${tab.key}")
    .tab-content
      .tab(th:each="tab : ${contentMap}", th:classappend="${tab.key}", th:with="regionMap=${contentMap.get(tab.key)}")
        div(th:each="region : ${regionMap}")
          form(th:action="@{/content-manager/} + ${tab.key}+'_'+${region.key}", method="post")
            .form-group
              label(th:text="${@templateUtils.humaniseRegion(region.key)}" th:for="${tab.key}+'_'+${region.key}") Index: title
              textarea(name="content", cols="80", rows="10", th:text="${regionMap.get(region.key)}" th:id="${tab.key}+'_'+${region.key}")
              button.small.bordered-blue(type="submit") Save

      