extends /layouts/internalLayout.pug

block vars
  - var currentUrl = "/content-manager"
  - var breadcrumbs = {'Home':"/", "Content Manager": "/content-manager"}

block pageTitle
  h1.internal-title(th:utext="${@templateUtils.md('content-manager_accessibility_title')}") Edit website content

block content
  .unique-page-content#content-manager
    .tab-buttons
      button#home-edit Home
      button#search-edit Search PRONOM
      button#about-edit About
      button#faq-edit FAQ
      button#external-edit External Projects
      button#submit-edit Submit to PRONOM
      button#content-edit Contact
      button#droid-edit DROID
      button#form-edit Form choice
    .tab-content
      #home-content
        div(th:each="region : ${regions}")
          form(th:action="@{/content-manager/} + ${region}", method="post")
            .form-group
              label(th:text="${@templateUtils.humaniseRegion(region)}" for="home-content1") Index: title
              textarea(name="content", cols="80", rows="10", th:text="${contentMap.get(region)}" id="home-content1")
              button.small.bordered-blue(type="submit") Save
      #search-content
        div
          p search content
      #about-content
        div
          p about content
      