extends /layouts/internalLayout.pug

block pageTitle
  h1.internal-title Dashboard
block content
  - var status = {"Waiting": "Contributions", "NextRelease": "Next release plan", "Testing": "In testing", "Ready": "Ready for release" }
  - var kanban = {"NextRelease": "Next release plan", "Testing": "In testing", "Ready": "Ready for release" }
  //- contributions
  .collapse-container#contributions-wrapper
    button.collapse-button
      .icon-wrapper
        i.fa-solid.fa-chevron-up
      h2(th:text="'Contributions ('+${#lists.size(submissions)}+')'") Contributions (65)
    .collapse-content
      .table-wrapper
        #submissions-contols
          div
            .selector-checkbox
              div
                label.sr-only(for="select_all") Select or deselect all contributions
                input(type="checkbox" id="select_all")
              p Selected
            .buttons
              .dropdown
                  button.xsmall.bordered-blue
                    | Move to
                    i.fa-solid.fa-chevron-down
                  .dropdown-content
                    button.bordered-blue.option
                      | Contributions
                    button.bordered-blue.option
                      | Next release plan
                    button.bordered-blue.option
                      | In testing
                    button.bordered-blue.option
                      | Ready for release
              button.xsmall.bordered-red
                | Delete
          div
            fieldset
              legend.sr-only Filter results by type
              label(for="sort_by_type") Type
              div
                select(id="sort_by_type")
                  option(value='0') All
                  option(value='1') type 2
                  option(value='2') type 3
                  option(value='2') type 4
            fieldset
              legend.sr-only Filter results by action
              label(for="sort_by_action") Action
              div
                select(id="sort_by_action")
                  option(value='0') All
                  option(value='1') type 2
                  option(value='2') type 3
                  option(value='2') type 4
          
          form(aria-label="Search for contributions")
            div
              label.sr-only(for="pronom_search") Search for contributions
              input(type="search" id="pronom_search" placeholder="Search for contributions ...")
              button.search-button(type="submit")
                i.fa-solid.fa-magnifying-glass(aria-hidden="true")
                | Search
        div
          ul.column-name-container
            li
              .column-name
                div
                button
                  | Date
                  i.fa-solid.fa-sort
                button
                  | Contributor
                  i.fa-solid.fa-sort
                button
                  | Type
                  i.fa-solid.fa-sort
                button
                  | Status
                  i.fa-solid.fa-sort
                button
                  | Subject
                  i.fa-solid.fa-sort
                button
                  | Reviewed
                  i.fa-solid.fa-sort
                button
                  | Reviewer
                  i.fa-solid.fa-sort
              div
                p Maintain
          ul.submissions
            li(th:each="s : ${submissions}")
              a(href="")
                .selector-checkbox
                  div
                    label.sr-only(for="select_contribution") Select or deselect contribution
                    input(type="checkbox" id="select_contribution")
                div
                  p.data(th:utext="'<span>Date</span>'+${#temporals.format(s.created, 'dd/MM/yyyy')}")
                    span Date
                    | 12/05/2021
                div
                  p.data(th:utext="'<span>Contributor name</span>'+${s.submitter?.name}")
                    span Contributor
                    | John Doe
                div
                  p.data(th:utext="'<span>Type</span>'+${s.submissionType?.localName eq 'UserSubmission' ? 'External' : 'Internal'}")
                    span Type
                    | Internal
                div
                  p.data(th:utext="'<span>Status</span>'+${@templateUtils.getLabel(s.submissionStatus) ?: '-'}")
                    span Status
                    | Waiting
                div
                  p.data(th:utext="'<span>Subject</span>'+${s.format?.name ?: '-'}")
                    span Subject
                    | File format name
                div
                  p.data(th:utext="'<span>Review date</span>'+${#temporals.format(s.updated, 'dd/MM/yyyy') ?: '-'}")
                    span Review date
                    | 12/05/2021
                div
                  p.data(th:utext="'<span>Reviewer</span>'+${s.reviewer?.name ?: '-'}")
                    span Reviewer
                    | Ann Rose
              .maintain-buttons
                a.mb-container(th:href="@{/editorial/form/{target}(target=${s.ID})}")
                  button.xsmall.bordered-blue View
                .dropdown.mb-container
                  button.xsmall.bordered-blue Move to
                    i.fa-solid.fa-chevron-down
                  .dropdown-content
                    each name, val in status
                      form(th:action="@{/editorial/move-submission}", method="POST")
                        input(type="hidden" name="uri" th:value="${s.URI}")
                        input(type="hidden" name="to" value=val)
                        button.bordered-blue.option(type="submit")=name
                form.mb-container(action="/editorial/delete-submission", method="POST")
                  input(type="hidden", name="uri", th:value="${s.URI}")
                  button.xsmall.bordered-red(type="submit") Delete

  //- Release plan
  .collapse-container#release-plan-wrapper
    button.collapse-button
      .icon-wrapper
        i.fa-solid.fa-chevron-up
      h2 Release plan
    .collapse-content
      .download-test-notes
        p Download test notes
        button.xsmall.bordered-blue XML
        button.xsmall.bordered-blue CSV
      .three-columns
        //- This loop is quite complex because it mixes the two templating languages. Pug and Thymeleaf.
        //- Essentially in Pug we're generating 3 instances of the kanban columns based on the list declared above(kanban)
        //- And then Thymeleaf with access to the model generates the actual items in each column.
        //- The div(th:with) is used to declare a few variables that are declared in the Pug templating language
        each cName, cVal in kanban
          div(th:with=`list=\$\{submissionMap.get('${cVal}') ?: {} \}, colName='${cName}', colVal='${cVal}'`)
            h3(th:text="${colName}+' ('+${#lists.size(list)}+')'")=cName
            .table-wrapper
              ul.submissions.card
                li(th:each="s : ${list}")
                  a(href="")
                    .selector-checkbox
                      div
                        label.sr-only(for="select_contribution") Select or deselect contribution
                        input(type="checkbox" id="select_contribution")
                    div
                      p.data(th:utext="'<span>Date</span>'+${#temporals.format(s.created, 'dd/MM/yyyy')}")
                        span Date
                        | 12/05/2021
                    div
                      p.data(th:utext="'<span>Contributor name</span>'+${s.submitter?.name}")
                        span Contributor
                        | John Doe
                    div
                      p.data(th:utext="'<span>Type</span>'+${s.submissionType?.localName eq 'UserSubmission' ? 'External' : 'Internal'}")
                        span Type
                        | Internal
                    div
                      p.data(th:utext="'<span>Status</span>'+${@templateUtils.getLabel(s.submissionStatus)}")
                        span Status
                        | Waiting
                    div
                      p.data(th:utext="'<span>Subject</span>'+${s.format?.name}")
                        span Subject
                        | File format name
                    div
                      p.data(th:utext="'<span>Review date</span>'+${#temporals.format(s.updated, 'dd/MM/yyyy') ?: '-'}")
                        span Review date
                        | 12/05/2021
                    div
                      p.data(th:utext="'<span>Reviewer</span>'+${s.reviewer?.name ?: '-'}")
                        span Reviewer
                        | Ann Rose
                  .maintain-buttons
                    a.mb-container(th:href="@{/editorial/form/{target}(target=${s.ID})}")
                      button.xsmall.bordered-blue View
                    .dropdown.mb-container
                      button.xsmall.bordered-blue Move to
                        i.fa-solid.fa-chevron-down
                      .dropdown-content
                        each name, val in status
                          form(th:action="@{/editorial/move-submission}", method="POST")
                            input(type="hidden" name="uri" th:value="${s.URI}")
                            input(type="hidden" name="to" value=val)
                            button.bordered-blue.option(type="submit")=name
                    form.mb-container(action="/editorial/delete-submission", method="POST")
                      input(type="hidden", name="uri", th:value="${s.URI}")
                      button.xsmall.bordered-red(type="submit") Delete


      div
        div
        div
          form(id="make-a-release", th:action="@{/editorial/releases/create-release}", method="POST", target="_blank")
            h3 Generate a signature file
            #select2
              fieldset
                div
                  label(for='selectType') 
                    h4 1) Select signature type
                    fieldset
                      legend.sr-only Select signature type
                      select#selectType(name="type")
                        option(value="binary") Binary signature
                        option(value="container") Container signature
                div
                  h4 2) Select between generating test and publishing

                  .selected
                    .option
                      input.check#otherPlan(type='radio' name='target' value='test')
                      label(for='otherPlan') Generate test signature.
                    #releaseStage
                      label Release stage:
                      fieldset
                        legend.sr-only Select release stage
                        select#selectRelease(name="status")
                          each name, val in status
                            option(value=val)=name
                      .check
                        fieldset
                          legend.sr-only Include previously published formats
                          input#includePrevious(name="fullRelease", type="checkbox", checked="checked")
                        label(for='includePrevious') Full release: Include previously published formats
                  .selected
                    .option
                      input.check#currentPlan(type='radio' name='target' value='release' checked="true")
                      label(for='currentPlan') Publish current release plan.
                    #version
                      label Version number:
                      input(name="version", type="number", min="0")
                  
                  
                  
            #submit
              h4 3) Submit
              button.blue.medium
                i.fa-solid.fa-rocket
                | Release to PRONOM
  //- contributions maintenance history
  .collapse-container#maintenance-history-wrapper
    button.collapse-button
      .icon-wrapper
        i.fa-solid.fa-chevron-up
      h2 Contributions maintenance history (124)
    .collapse-content
      .table-wrapper
        ul#maintanance
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
          li
            p 21/02/2022
            p 12:10
            p Johnathan McDonald
            p Some action description comes here
            p file format name
  include ./partials/feedback.pug




