extends /layouts/modal.pug

block modalHeader
  div
    h1(th:utext="'<span>fmt/'+${fileFormat.puid}+'</span>'+${fileFormat.name}")
      span fmt/11
      | Portable network Graphics
    .specs
      p Category: File format
      p(th:text="'Last updated: '+${#temporals.format(fileFormat.updated, 'dd/MM/yyyy')}") Last updated: 12/06/2000
block modalHeaderAdditionals
  div.audit-trail
    button.bordered-blue.medium
      i.fa-regular.fa-clock
      | Audit trail
      i.fa-solid.fa-angle-down
  include ./partials/savingOptions.pug
  div.propose-edition
    button.blue.medium
      i.fa-regular.fa-pen-to-square
      | Propose edition
block modalBody
  .file-format-container
    aside(aria-label="Sponsors")
      ul
        li
          a.active(href="") Overview
        li
          a(href="") References
        li
          a(href="") Signatures
        li
          a(href="") More information
        li
          a(href="") Compression
        li
          a(href="") Character Encoding
        li
          a(href="") Properties
    .all-tables
      h2 Overview
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fName Format name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="#fName", th:text="${fileFormat.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fVersion Version
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="#fVersion", th:text="${fileFormat.version}") 1.0
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fExtension Extension
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="#fExtension") PLACEHOLDER(1.0)
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fMediaType Media Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="#fMediaType") audio
        //- NESTED ROW
        li.row-nested
          .tooltip-container.row-nested-title
            .label
              p.label-text#fMediaType Identifiers
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          //- TABLE =========================================================================
          ul.table
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fPUID PUID
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fPUID", th:text="'fmt/'+${fileFormat.puid}") fmt/11
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fMIME MIME
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fMIME") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Other
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
          //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fClassification Classification
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="#fClassification") audio
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fDescription Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="#fDescription", th:text="${fileFormat.description}") audio
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fRelatedFileFormats Related file formats
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            a(aria-labeledby="#fRelatedFileFormats" href="") File format name
            a(aria-labeledby="#fRelatedFileFormats" href="") File format name
            a(aria-labeledby="#fRelatedFileFormats" href="") File format name
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fPriorityOver Priority over
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            a(aria-labeledby="#fPriorityOver" href="") File format name 
            a(aria-labeledby="#fPriorityOver" href="") File format name
            a(aria-labeledby="#fPriorityOver" href="") File format name
            a(aria-labeledby="#fPriorityOver" href="") File format name 
            a(aria-labeledby="#fPriorityOver" href="") File format name
            a(aria-labeledby="#fPriorityOver" href="") File format name
      h2 References
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet

      h3 Documentation
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Author
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Identifiers
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Publication date
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Note
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet

      h2 Signatures
      h3 External signatures
      //- TABLE =========================================================================
      ul.table
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet

      h3 Internal signatures
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- NESTED ROW
        li.row-nested
          .tooltip-container.row-nested-title
            .label
              p.label-text#fMediaType Byte sequence
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          //- TABLE =========================================================================
          ul.table
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fPUID Position type
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fPUID") fmt/11
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fMIME Min Offset
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fMIME") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Max offset
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Byte order
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Value
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
          //- TABLE =========================================================================
          ul.table
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fPUID Position type
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fPUID") fmt/11
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fMIME Min Offset
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fMIME") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Max offset
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Byte order
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Value
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
              div
                p(aria-labeledby="#fOther") Lorem ipsum
      h2 More information
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Byte order
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Orientation
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Family
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Released
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Developed by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported until
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Technical enviroment
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      h2 Compression
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Other names
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Identifier(s)
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Family
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Lossiness
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Released
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Withdrawn
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Developed by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Documentation
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Rights
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Note
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      h2 Character encoding
      h2 Properties
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Compression Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Compression Level
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Image Width
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Image Height
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Color Space
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Sampling Frequency Unit
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text X Sampling Frequency
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Bits Per Sample
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Sample Per Pixel
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Byte Order
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Comments
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" title="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet