extends /layouts/modal.pug

block modalHeader
  div
    h1.hidden-title(th:utext="'<span>'+${ff.formattedPuid}+'</span>'+${ff.name}")
      span fmt/11
      | Portable network Graphics
    .specs
      p Category: File format
      p(th:text="'Last updated: '+${#temporals.format(ff.updated, 'dd/MM/yyyy')}") Last updated: 12/06/2000
block modalHeaderAdditionals
  div.audit-trail
    .dropdown.audit
      button.medium.bordered-blue
        i.fa-regular.fa-clock
        | Audit trail
        i.fa-solid.fa-angle-down
      .dropdown-content
        ul
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
  include ./partials/savingOptions.pug
  div.propose-edition
    a(th:href="@{/contribute/form/{target}(target=${ff.formattedPuid})}")
      button.blue.medium
        i.fa-regular.fa-pen-to-square
        | Propose update
block modalBody
  .file-format-container
    aside(aria-label="Sponsors")
      ul
        li
          a(href="#overview") Overview
        li
          a(href="#references") References
        li
          a(href="#signatures") Signatures
        li
          a(href="#moreInformation") More information
        li
          a(href="#compression") Compression
        li
          a(href="#characterEncoding") Character Encoding
        li
          a(href="#properties") Properties
    .all-tables
     
     
     
      h2#overview Overview
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Format name
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.1.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ff.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Version
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.1.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p( th:text="${ff.version ?: ''}") 1.0
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Extension
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '6.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p( th:text="${ff.firstExtension ?: ''}") PLACEHOLDER(1.0)
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Media Type
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '7.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ff.MIMETypeList}") NOT IMPLEMENTED
        //- NESTED ROW
        li.row-nested
          .tooltip-container.row-nested-title
            .label
              p.label-text Identifiers
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '3.2.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          
          
          
          //- TABLE =========================================================================
          ul.table
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text PUID
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '8.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(th:text="${ff.formattedPuid}") fmt/11
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text MIME
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '9.1') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(th:text="${ff.MIMETypeList}") NOT IMPLEMENTED
            //- ROW
            li.row(th:each="otherId : ${ff.otherIdentifiers}")
              .tooltip-container
                .label
                  p.label-text(th:text="${otherId?.typeName}") Other
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.5') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p( th:text="${otherId?.name}") NOT IMPLEMENTED
          //- ROW
          //- TODO - tooltip not available
        li.row
          .tooltip-container
            .label
              p.label-text Classification
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p( th:text="${ff.classificationsListString}") audio
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.1.3') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:utext="${@templateUtils.autolinker(ff.description)}") audio
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Related file formats
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            a( th:href="@{/id/FileFormat/{target}(target=${prRel.targetID})}" th:each="prRel : ${ff.hasRelationships}" th:text="|${prRel.relationshipTypeName} ${prRel.targetName}|") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Priority over
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.1.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            a( th:href="@{/id/FileFormat/{target}(target=${prRel.targetID})}" th:each="prRel : ${ff.hasPriorityOver}" th:text="${prRel.targetName}") NOT IMPLEMENTED
      
      
      
      h2#references References
      //- TABLE =========================================================================
      ul.table(th:if="${#lists.isEmpty(ff?.references ?: {})}")
        li.row
          p No references
      ul.table(th:each="ref : ${ff.references}", th:with="hasLink=${!#strings.isEmpty(ref?.identifiers)}")
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Reference name
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:if="${hasLink}")
              a(th:href="${ref?.identifiers}", th:text="${ref?.name}") Link
            p(th:if="${!hasLink}", th:text="${ref?.name}") No Link
        //- ROW
        li.row(th:if="${ref.author}")
          .tooltip-container
            .label
              p.label-text Author
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.4') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ref?.author?.displayName}") Author
        //- ROW
        li.row(th:if="${ref.publicationDate}")
          .tooltip-container
            .label
              p.label-text Publication Date
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.6') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${#temporals.format(ref?.publicationDate, 'dd/MM/yyyy')}") Publication Date
        //- ROW 
        li.row(th:if="${ref.type}")
          .tooltip-container
            .label
              p.label-text Type
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.7') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ref?.type}") Type
        //- ROW 
        li.row(th:if="${ref.note}")
          .tooltip-container
            .label
              p.label-text Note
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.8') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ref.note}") Note

      h2#signatures Signatures
      h3 External signatures
      //- TABLE =========================================================================
      ul.table(th:if="${#lists.isEmpty(ff?.externalSignatures ?: {})}")
        li.row
          p No internal signatures
      ul.table(th:each=" extSig : ${ff.externalSignatures}")
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.3.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${extSig.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Type
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.3.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p( th:text="${extSig.signatureType}") Lorem ipsum dolor sit amet



      h3 Internal signatures
      //- TABLE =========================================================================
      ul.table(th:if="${#lists.isEmpty(ff?.internalSignatures ?: {})}")
        li.row
          p No internal signatures
      ul.table(th:each="intSig : ${ff.internalSignatures}")
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.3.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${intSig.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.4.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p( th:text="${intSig.note ?: ''}") Lorem ipsum dolor sit amet
        //- NESTED ROW
        li.row-nested
          .tooltip-container.row-nested-title
            .label
              p.label-text Byte sequence
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '5.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
         
         
         
          //- TABLE =========================================================================
          ul.table(th:each="byteSeq : ${intSig.byteSequences}")
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text Position type
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.4.4') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p( th:text="${byteSeq.positionName} ?: ''") Absolute from EOF
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text Min Offset
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.4.5') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p( th:text="${byteSeq.offset} ?: ''") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text Max offset
                  span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '2.4.6') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p( th:text="${byteSeq.maxOffset} ?: ''") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text Byte order
                  //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p( th:text="${byteSeq.byteOrder} ?: ''") Lorem ipsum
            //- ROW
            //- TODO - tooltip not available
            li.row
              .tooltip-container
                .label
                  p.label-text Value
                  //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p( th:text="${byteSeq.sequence}") Lorem ipsum



      h2#moreInformation More information
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Byte order
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p
              span(th:each="bo : ${ff?.byteOrder}", th:text="${@templateUtils.getLabel(bo)}") NOT IMPLEMENTED
        //- ROW
        //- TODO - tooltip not available
        li.row
          .tooltip-container
            .label
              p.label-text Orientation
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Family
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.3.3') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ff?.formatFamiliesList}")
        //- ROW
        //- TODO - tooltip not available
        li.row
          .tooltip-container
            .label
              p.label-text Released
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Developed by
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.4.2.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ff?.developmentActorsList}")
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported by
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.2.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(th:text="${ff?.supportActorsList}") Support actors
        //- ROW
        //- TODO - tooltip not available
        li.row
          .tooltip-container
            .label
              p.label-text Supported until
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Technical enviroment
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.3.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED



      h2#compression Compression
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Name
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Other names
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Identifier(s)
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Family
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.3.3') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Lossiness
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Released
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Withdrawn
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.2.6') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Developed by
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '5.2.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported by
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('form', '5.2.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Documentation
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '1.2.3') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Rights
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Note
              //- span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" )
          div
            p NOT IMPLEMENTED



      h2#characterEncoding Character encoding
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Encoding name
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Encoding text
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Note
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Provenance text
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text PUID TYPE ID
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text PUID value
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('display', '3.2.3.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p NOT IMPLEMENTED



      h2#properties Properties
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Compression Type
              
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
            
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Compression Level
             
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
             
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Image Width
             
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
             
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Image Height
              
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
             
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Color Space
             
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
             
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Sampling Frequency Unit
              
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text X Sampling Frequency
             
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Bits Per Sample
             
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
             
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Sample Per Pixel
             
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Byte Order
              
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
            
          div
            p NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Comments
              
          div
            p NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
            
          div
            p NOT IMPLEMENTED