extends /layouts/modal.pug

block modalHeader
  div
    h1.hidden-title(th:utext="'<span>'+${ff.formattedPuid}+'</span>'+${ff.name}")
      span fmt/11
      | Portable network Graphics
    .specs
      p Category: File format
      p(th:text="'Last updated: '+${#temporals.format(ff.updated, 'dd/MM/yyyy')}") Last updated: 12/06/2000
block modalHeaderAdditionals
  div.audit-trail
    .dropdown.audit
      button.medium.bordered-blue
        i.fa-regular.fa-clock
        | Audit trail
        i.fa-solid.fa-angle-down
      .dropdown-content
        ul
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
  include ./partials/savingOptions.pug
  div.propose-edition
    a(th:href="@{/contribute/form/{target}(target=${ff.formattedPuid})}")
      button.blue.medium
        i.fa-regular.fa-pen-to-square Propose update
block modalBody
  .file-format-container
    aside(aria-label="Sponsors")
      ul
        li
          a.active(href="") Overview
        li
          a(href="") References
        li
          a(href="") Signatures
        li
          a(href="") More information
        li
          a(href="") Compression
        li
          a(href="") Character Encoding
        li
          a(href="") Properties
    .all-tables
      h2 Overview
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fName Format name
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('internal', '1.1.1') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="#fName", th:text="${ff.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fVersion Version
              span.tooltip-toggle(aria-label=htmlWebpackPlugin.options.getTooltip('internal', '1.1.2') tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="#fVersion", th:text="${ff.version ?: ''}") 1.0
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fExtension Extension
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="#fExtension", th:text="${ff.firstExtension ?: ''}") PLACEHOLDER(1.0)
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fMediaType Media Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="#fMediaType") NOT IMPLEMENTED
        //- NESTED ROW
        li.row-nested
          .tooltip-container.row-nested-title
            .label
              p.label-text#fMediaType Identifiers
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          //- TABLE =========================================================================
          ul.table
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fPUID PUID
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fPUID", th:text="${ff.formattedPuid}") fmt/11
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fMIME MIME
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fMIME") NOT IMPLEMENTED
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Other
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fOther") NOT IMPLEMENTED
          //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fClassification Classification
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="#fClassification", th:text="${ff.classificationsListString}") audio
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fDescription Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="#fDescription", th:text="${ff.description}") audio
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fRelatedFileFormats Related file formats
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            a(aria-labeledby="#fRelatedFileFormats" th:href="@{/id/FileFormat/{target}(target=${prRel.targetID})}" th:each="prRel : ${ff.hasRelationships}" th:text="|${prRel.relationshipTypeName} ${prRel.targetName}|") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text#fPriorityOver Priority over
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            a(aria-labeledby="#fPriorityOver" th:href="@{/id/FileFormat/{target}(target=${prRel.targetID})}" th:each="prRel : ${ff.hasPriorityOver}" th:text="${prRel.targetName}") NOT IMPLEMENTED
      h2 References
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED 1
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED 2.1
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED 2.2

      h3 Documentation
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Link name/title
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Author
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Identifiers
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Publication date
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Note
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED

      h2 Signatures
      h3 External signatures
      //- TABLE =========================================================================
      ul.table(th:each=" extSig : ${ff.externalSignatures}")
        //- ROW 
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="", th:text="${extSig.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="", th:text="${extSig.signatureType}") Lorem ipsum dolor sit amet

      h3 Internal signatures
      //- TABLE =========================================================================
      ul.table(th:each="intSig : ${ff.internalSignatures}")
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="", th:text="${intSig.name}") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="", th:text="${intSig.note ?: ''}") Lorem ipsum dolor sit amet
        //- NESTED ROW
        li.row-nested
          .tooltip-container.row-nested-title
            .label
              p.label-text#fMediaType Byte sequence
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          //- TABLE =========================================================================
          ul.table(th:each="byteSeq : ${intSig.byteSequences}")
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fPUID Position type
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fPUID", th:text="${byteSeq.positionName} ?: ''") Absolute from EOF
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fMIME Min Offset
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fMIME", th:text="${byteSeq.offset} ?: ''") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Max offset
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fOther", th:text="${byteSeq.maxOffset} ?: ''") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Byte order
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fOther", , th:text="${byteSeq.byteOrder} ?: ''") Lorem ipsum
            //- ROW
            li.row
              .tooltip-container
                .label
                  p.label-text#fOther Value
                  span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                    .i-wrapper
                      i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
              div
                p(aria-labeledby="#fOther", th:text="${byteSeq.sequence}") Lorem ipsum
      h2 More information
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Byte order
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Orientation
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Family
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Released
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Developed by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") Lorem ipsum dolor sit amet
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported until
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Technical enviroment
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      h2 Compression
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Name
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Other names
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Identifier(s)
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Family
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Lossiness
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Released
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Withdrawn
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Developed by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Supported by
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Documentation
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Rights
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Note
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      h2 Character encoding
      h2 Properties
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Compression Type
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Compression Level
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Image Width
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Image Height
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Color Space
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Sampling Frequency Unit
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text X Sampling Frequency
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Bits Per Sample
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Sample Per Pixel
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Byte Order
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
      //- TABLE =========================================================================
      ul.table
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Comments
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED
        //- ROW
        li.row
          .tooltip-container
            .label
              p.label-text Description
              span.tooltip-toggle(aria-label='Some explanation comes here' tabindex='0')
                .i-wrapper
                  i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
          div
            p(aria-labeledby="") NOT IMPLEMENTED