extends /layouts/modal.pug

block modalHeader
  div
    h1(th:if="${isPuid}", th:utext="'<span>'+${puid}+'</span>'+ ' '+${name}")
      span fmt/11
      | Microsoft Corporation
    h1(th:unless="${isPuid}", th:text="${name}")
    .specs
      p(th:unless="${isPuid}", th:text="'Category: '+${type}") Category: Vendor
block modalHeaderAdditionals
  //- div.audit-trail
    .dropdown.audit
      button.medium.bordered-blue
        i.fa-regular.fa-clock
        | Audit trail
        i.fa-solid.fa-angle-down
      .dropdown-content
        ul
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
          li
            p 12/04/2022
            p Some texte cones here texte cones here texte cones here texte cones here
          li
            p 03/04/2022
            p Some texte cones here
          li
            p 01/04/2022
            p Some texte cones here
  //- include ./partials/savingOptions.pug
block modalBody
  .archived(th:if="${isPuid}")
    p.
      Please note that this entry is archived. 
      PRONOM is no longer maintaining this information.
    a(href="")
      | Find out more
  //- TABLE =========================================================================
  ul.table
    //- ROW
    li.row(th:each="prop : ${props}", th:with="mapProp=${@templateUtils.getLabel(prop.key)}, mapValues=${prop.value}")
      .tooltip-container
        .label
          p.label-text(th:text="${#strings.isEmpty(mapProp) ? prop.key : mapProp}") Property name
          span.tooltip-toggle(tabindex='0')
            .i-wrapper
              i.fa.fa-solid.fa-circle-info(role="img" aria-label="information icon")
      div
        p(th:each="v : ${mapValues}", th:with="str=${@templateUtils.getLabel(v, extra)}")
          span(th:utext="${#strings.isEmpty(str) ? @templateUtils.autolinker(''+v) : @templateUtils.autolinker(str)}")
