extends /layouts/modal.pug

block modalHeader
  div
    h1
      | Add new file fomat
block modalBody
  .error-notification(th:if="${errors}")
    .error-inner
      div
        h2 Error
      div
        p Please check fields:
        ul
          li(th:each="e : ${errors}", th:text="${e}") File format name
  .form-content#internal-form
    include ./partials/userForm/form-navigation.pug
    main#main-form-content
      form(action="#", th:action="@{/editorial/form/{target}(target=${submissionId} ?: 'new')}", method='POST', th:object="${ff}") 
        .form-section
          include ./partials/userForm/core.pug
        .form-section
          include ./partials/userForm/signatures.pug
        .form-section
          include ./partials/userForm/releationships.pug
        .form-section
          include ./partials/userForm/identifiers.pug
        .form-section
          include ./partials/userForm/contributor.pug
        .form-section
          include ./partials/userForm/additionalProperties.pug
        .form-section
          include ./partials/userForm/review.pug
    
    .smallScreen#submit-mobile
      div
        button.blue.medium.right.submit-button
          | Submit
      