extends /layouts/mainLayout.pug

block vars
  - var currentURL = "/release-notes"
  - var breadcrumbs = {'Home':"/", "Release Notes": "/release-notes"}

block pageTitle
  h1.hidden-title(th:utext="${@templateUtils.md('release-notes_accessibility-title')}") Release Notes

block content
  .unique-page-content#droid
    article
      h2(th:utext="${@templateUtils.md('release-notes_test-environment-title')}") File Formats in the Test Enviroment
      .test-enviroment-group
        p(th:utext="${@templateUtils.md('release-notes_test-enviroment-explanation')}").
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.
        button.bordered-blue.xlarge
          i.fa-solid.fa-arrow-down(aria-hidden="true")
          | Download CSV
    article(th:utext="${@templateUtils.md('release-notes_release-notes')}")
      h2 Release notes
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat.
    .release-notes-list
      h3 Binary Signatures
      ul
        li(th:each="file : ${binary}")
          a(th:href="@{/releases/download/binary/} + ${file.key}")
            h3(th:with="date=${#temporals.format(file.value, 'dd/MM/yyyy')}", th:utext="${ date == '01/01/1970'? 'Legacy' : date }") Date published
            div
              span(th:text="${file.key}")
      h3 Container Signatures
      ul
        li(th:each="file : ${container}")
          a(th:href="@{/releases/download/binary/} + ${file.key}")
            h3(th:with="date=${#temporals.format(file.value, 'dd/MM/yyyy')}", th:utext="${ date == '01/01/1970'? 'Legacy' : date }") Date published
            div
              span(th:text="${file.key}")